html,
body {
    margin: 0;
}

body {
    --block-accent-color: #da86d2;
    background: #efceeb;
}

body,
input,
button {
    font-family: 'IBM Plex Mono', monospace;
}

#root {
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    height: 100vh;
    max-height: 850px;
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -50%);
}

a {
    color: #000;
}

/* LOADED state */

.startButton {
    font-size: 2em;
    display: block;
    margin: 2em auto;
}

.right-align {
    text-align: right;
}

p {
    line-height: 1.5em;
}

/* PLAYING state */

.state--loading,
.state--playing {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.scoreboard,
.streak,
.totalScore {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scoreboard {
    justify-content: space-between;
    width: 100%;
}

.streakScoreboard,
.totalScoreboard {
    line-height: 1.6em;
    margin-left: .8em;
}

.lyric {
    font-size: 1.4em;
    padding: .5rem;
}

.choices {
    width: 100%;
}

.choice {
    display: block;
    width: calc(100% - 12px); /* block shadows */
    text-align: start;
    font-size: 1.2rem;
    line-height: 1.8em;
    margin-top: .8rem;
}

.aux {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.loadingMessage {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
}

.startOverButton {
    font-size: 1rem;
}
